/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #000000;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  /* width: 16.66%; Five equal-width links.*/
  text-align: center;

}
/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #FFEF75;
  text-decoration: none;
}

.navbar a.active{
  background-color: #FFEF75;
}


/*ini buat side nav*/

.main {

    margin: auto;
    width: 50%;
    border: 3px black;
    padding: 10px;
    text-align: center;
}

@media screen and (max-height: 450px) {
  .navbar.responsive{position: relative;}
  }
    
}


.content{
  max-width: 300px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  max-width: 800px;
}

.header{
  width: 100%;
}

