{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ailsazayyan's</title>

	<link rel="stylesheet" type="text/css" href= "{%static 'cie.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
 <!-- The navigation menu -->
	<div class="navbar">
		{% include 'navbar.html' %}
	</div> 
		



	<div class="main">
	  <img class="header" src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/42233086_1848210305215039_2868092462058962944_n.jpg?_nc_cat=106&oh=a0335c3cdcca78da05988a9da5f43f9a&oe=5C16E4AC">
	  <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/40802733_1832804423422294_695074859822088192_o.jpg?_nc_cat=101&oh=f691b0f70cb9c08b9e421c16dfd15c58&oe=5C2EF116" alt="foto w"  width=100%>
	  <p><br>Born in Semarang on 7 August 1999.<br>
		Depok-based student who ever 
		experienced<br> live in 5 different cities. 
		I am an agreeableness <br>person and 
		have a lot of dreams.Have a high 
		sense <br> in responsibility. Experienced 
		working with team <br>and also good in 
		individual project. </p>
	</div>    



</body>
</html>