{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ailsazayyan's</title>
	<link rel="stylesheet" type="text/css" href= "{%static 'cie.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
 <!-- The navigation menu -->
	<div class="navbar">
		{% include 'navbar.html' %}
	</div> 



	<div class="main">
	  <img class="header" src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/42199631_1848210311881705_5376334928923328512_n.jpg?_nc_cat=104&oh=e961b62c61726b73587f758ce66dd25c&oe=5C1CB0C1">
	  <p>If you have any question or feedback, you are very welcome to contact me.<br></p>
	  <p>-----------------------------</p>
	  <p><br>Ailsa Zayyan Salsabila D.P.<br><br>
	  	Jatibening Estate Blok A2 no.4<br>
	  	Jatibening, Pondok Gede, Bekasi,<br>
	  	Jawa Barat,<br>
	  	Indonesia, 17412<br>
	  	<br>
	  </p>

	  <img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/2e63d9e7024e435c8e6793798055d4af?quality=95&fake=.png" width="50 px", height="50 px">
	  <p>ailsazayy@gmail.com</p>
	  <p>085720879897</p>

	</div>    



</body>
</html>