{% load static %}

<!DOCTYPE html>
<html> 
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ailsazayyan's</title>

	<link rel="stylesheet" type="text/css" href= "{%static 'cie.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

 <!-- The navigation menu -->
	<div class="navbar">
		{% include 'navbar.html' %}
	</div> 

	<div class="main">
	  <img class="header" src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/42140321_1848425548526848_5934442826409443328_n.jpg?_nc_cat=110&oh=637bc8a93f815e31258b10b968d0907f&oe=5C321842">


	  <div class="container">
		  <div class="row">
		    <div class="col">
		    	<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/f25ff85ffedf4f749ad92a7a45c32a60?quality=95&fake=.png" width="50" height="50">
		    	<br>- Business IT Case Competition Staff, 
					Compfest X

		    </div>

		    <div class="col">
		    	<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/68dceffe1071467fb5af6b69445a0c91?quality=95&fake=.png" width="50" height="50">

		    	<br>- BEM Fasilkom UI 2018, Sport Staff (now)<br>
					- Violinist in TRUST Orchestra (2017 -- now)<br>
					- Halim 77 Instrument captain (2015) <br>
					<br>
		    </div>
		    <div class="w-100"></div>
		    <div class="col">
		    	<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/8cfb9e60d39842dd86cd742d92de71ca?quality=95&fake=.png" width="50" height="50">
		    	<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/4a82889f31e8496baab0ba90d4e13fd0?quality=95&fake=.png" width="50" height="50">
		    	<br>- TRUST Orchestra Concert<br>
					- Charity Concert, Musik ku Untuk Senyum mu<br>
					- Runtime Error 3.0 staff, 5k fun run<br>
					- Computer Science League 2018 staff<br>
		    </div>

		    <div class="col">
		    	<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/7665c20036ca40b2a4f33e993d436f75?quality=95&fake=.png" width="50" height="50">

		    	<br>SD Pemuda Bangsa
		 		<br> SDN Cibiru IX
		 		<br> SMP Al-Azhar Syifa Budi Jatibening
		 		<br> SMAN 1 Bekasi
		 		<br> Sistem Informasi, Universitas Indonesia

		    </div>
		  </div>

	</div>    



</body>
</html>