{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> my schedule </title>
	<link rel="stylesheet" type="text/css" href= "{%static 'cie.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
 <!-- The navigation menu -->
	<div class="navbar">
		{% include 'navbar.html' %}
	</div> 

<!-- Table -->
	<table class="table">
  <thead>
    <tr>
      <th scope="col">Activity Name</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
	  <th scope="col">Place</th>
	  <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
  {% for e in table_schedule %}
  <tr>
	  <td> {{e.activity}} </td>
	  <td>{{e.date}}</td>
	  <td>{{e.time}}</td>
	  <td>{{e.place}}</td>
	  <td>{{e.category}}</td>
  </tr>
{% endfor %}
  </tbody>
</table>

    <form id = "form" method="POST" action = "{% url 'delete' %}">
      {% csrf_token %}
      
      <button type="submit" class="btn btn-primary">Delete</button>
    </form>

</body>
</html>