{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> schedule </title>
	<link rel="stylesheet" type="text/css" href= "{%static 'cie.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
 <!-- The navigation menu -->
	<div class="navbar">
		{% include 'navbar.html' %}
	</div> 

	<div class="content">
	<section name = "form">
		<h2 style="padding: 20px">Schedule</h2>
		<form id = "form" method="POST" action = "{% url 'sched_result' %}">
			{% csrf_token %}
			{{sched_form}}
			<br>
			<br>
			
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>


</body>
</html>