{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> ailsazayyan's</title>
	<link rel="stylesheet" type="text/css" href= "{%static 'cie.css' %}">
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	
</head>
<body>

 <!-- The navigation menu -->
	<div class="navbar">
		{% include 'navbar.html' %}
	</div> 

	<img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42182263_1847819711920765_6691749666406531072_o.jpg?_nc_cat=102&oh=fcdb61e9ed8c6387e76ab166e8f6b8e2&oe=5C229E3B" alt="background" style="width:98.5vw;height:100vh">




</body>
</html>