	  <a href="..">Home</a>
	  <a href="../aboutme">About Me</a>
	  <a href="../experience">Experience</a> 
	  <a href="../skillANDinterest">Skill and Interest</a>
	  <a href="../contact">Contacts</a>
	  <a href="../register">Sign Up</a>  
	  <a href="../schedule">Schedule</a>
