{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> register </title>
	<link rel="stylesheet" type="text/css" href= "{%static 'cie.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color: #FFDF68">
 <!-- The navigation menu -->
	<div class="navbar">
		{% include 'navbar.html' %}
	</div> 


	<div class= "content">
		<form id="form" method="POST" action = "{% url 'another_web/templates/ngetestForm' }">
			{% csrf_token %}
			
			<div class="form-group">
				<label for="name">Name</label>
				<input type="form-text" class="form-control form-control-sm" id="inputName" placeholder="Name" style="width: 300px;">
			</div>

			<div class="form-group">
				<label for= "birth">Birth Date</label>
				<input type="Date" class="form-control form-control-sm" id="inputBirthDate" placeholder="birthDate" style="width: 300px;">
				
			</div>
			<div class="form-group">
			    <label for="email">Email address</label>
			    <input type="email" class="form-control form-control-sm" id="InputEmail" aria-describedby="emailHelp" placeholder="name@example.com" style="width: 300px;">
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
			<div class="form-group">
			    <label for="username">username</label>
			    <input type="form-text" class="form-control form-control-sm" id="username" placeholder="username" style="width: 300px;">
			</div>
			<div class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Password" style="width: 300px;">
			</div>
			<div class="form-group">
			    <label for="exampleInputPassword1">Confirm Password</label>
			    <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Confirm password" style="width: 300px;">
			</div>


		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
		

</body>
</html>