{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ailsazayyan's</title>
	<link rel="stylesheet" type="text/css" href= "{%static 'cie.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
 <!-- The navigation menu -->
	<div class="navbar">
		{% include 'navbar.html' %}
	</div> 

	<div class="main">
	  <img class="header" src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/42135621_1848210318548371_1882202398802313216_n.jpg?_nc_cat=110&oh=531af9c9e2dd456ce81d04753bd73780&oe=5C21DACC">


	  <h2 style="color: #FFEF75">Programming Abilities</h2>
		<p>Python<br>
			Java<br>
			Basic HTML <br>
			Basic CSS<br>
		</p>

		<h2 style="color: #FFEF75">Soft Skill</h2>
		<p>
			High sense of responsibility
			<br>team work
			<br>time management
		</p>

		<h2 style="color: #FFEF75">Other</h2>
		<p>
			basic photoshop<br>
			basic video editing<br>
			basic web design<br>
			basic photography
		</p>

		<h2 style="color: #FFEF75">Interest</h2>
		<p>
			Violin<br>
			Sci-fi and romance movi/literature<br>
			Folk, accoustic music
		</p>
	</div>



		
</body>
</html>